{% extends 'home/ServicoBase.html' %}
{% load static %}

{% block servico_topo %}
    <section class="overview-block-ptb iq-over-black-70 jarallax iq-breadcrumb3 text-left iq-font-white" style="background-image: url({% static 'home/images/bg/03.jpg'%}); background-position: center center; background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="iq-mb-0">
                        <h2 class="iq-font-white iq-tw-6">{{ categoria_atual }}</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav aria-label="breadcrumb" class="text-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}"><i class="ion-android-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ categoria_atual}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock servico_topo %}

{% block info_servico %}
    <div class="tab-pane fade show active" id="retina" role="tabpanel" aria-labelledby="retina-tab">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="heading-title text-center">
                    <h2 class="title iq-tw-6">{{ categoria_atual }}</h2>
                </div>
            </div>

        </div>
    </div>
{% endblock info_servico %}

{% block servicos %}
    <div class="row">
        {% for servico in servicos_list %}
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="iq-mtb-20">
                    <img alt="" class="img-fluid" src="{{ servico.imagem.url }}">
                    <h5 class="iq-font-dark iq-tw-6 iq-mt-20">{{ servico.nome }}</h5>
                    <p>{{ servico.descricao }}</p>
                    <div class="read-more green"><a href="#">Orçamento <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock servicos %}