{% load static %}
<footer class="iq-footer21 black-bg overview-block-pt6">
         <div class="container">
            <div class="row iq-mb-60">
               <div class="col-lg-5 col-sm-6 iq-mtb-15">
                  <div class="logo">
                     <img id="footer_logo_img" class="" src="{% static 'home/images/logo_ag.png' %}"   alt="#">
                     <div class="row iq-contact iq-mt-30">
                        <div class="col-sm-6 iq-mtb-10">
                           <div class="blog">
                              <div class="content">
                                 <h5 class="iq-tw-6 iq-font-white">Endereco</h5>
                                 <p>1234 North Luke Lane,<br> South Bend,<br>IN 360001.</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-6 iq-mtb-10">
                           <div class="blog">
                              <div class="content">
                                 <h5 class="iq-tw-6 iq-font-white">Telefone</h5>
                                 <p>{{ telefone }}</p>
                              </div>
                           </div>
                           <div class="blog iq-mt-30">
                              <div class="content">
                                 <h5 class="iq-tw-6 iq-font-white">e-mail</h5>
                                 <p>{{ email }}</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-12">
                        <ul class="iq-media-blog text-left iq-mt-30">
                           <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                           <li><a href="{{ facebook }}"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6 about-us iq-mtb-15">
                  <h5 class="small-title iq-tw-6 iq-font-white">Menu</h5>
                  <ul>
                     <li><i class="ion-arrow-right-c iq-mr-15"></i><a href="{% url 'home:home' %}">Home</a></li>
                     <li><i class="ion-arrow-right-c iq-mr-15"></i><a href="#">Sobre</a></li>
                     <li><i class="ion-arrow-right-c iq-mr-15"></i><a href="{% url 'home:projetos' %}">Projetos</a></li>
                     <li><i class="ion-arrow-right-c iq-mr-15"></i><a href="{% url 'home:todos_servicos' %}">Serviços </a></li>
                     <li><i class="ion-arrow-right-c iq-mr-15"></i><a href="{% url 'home:contato' %}">Contato</a></li>
                  </ul>
               </div>
               <div class="col-lg-4 col-sm-12 iq-mtb-15">
                  <h5 class="small-title iq-tw-6 iq-font-white">Envia Mensagem</h5>
                  <form class=" iq-mt-30">
                     <div class="form">
                        <div class="col iq-pall iq-mb-10">
                           <input type="text" class="form-control" placeholder="Nome">
                        </div>
                        <div class="col iq-pall iq-mb-10">
                           <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="col iq-pall iq-mb-10">
                           <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Mensagem" rows="3"></textarea>
                        </div>
                        <div class="col iq-pall text-right">
                           <a class="button iq-mt-10 iq-mr-0" href="#" role="button">Send</a>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="container-fluid iq-pall">
            <div class="footer-bottom iq-ptb-20 dark-bg iq-mt-30">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-12 text-center">
                        <div class="iq-copyright iq-font-white">
                           Copyright
                           <span id="copyright">
                              <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                           </span>
                           <a class="iq-font-green" href="#">AG Marmoraria</a> All Rights Reserved - 
                           <a class="iq-font-green" href="#">Feito com Amor Por</a> mod64bits
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>


