{% load static %}
<header class="header-01 dark re-none color-8">
    <div class="topbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="topbar-left">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-phone text-blue"></i> {{ telefone }}</li>
                            <li class="list-inline-item"><i class="fa fa-envelope-o"> </i> {{ email }}</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="topbar-right text-right">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <ul class="list-inline iq-left">
                                    {% if user.id is None %}
                                        <li class="list-inline-item"><a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-lock"></i>Entar</a></li>
                                    {% else %}
                                        <li class="list-inline-item"><a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-lock"></i>Sair</a></li>
                                    {% endif %}
                                    <li class="list-inline-item"><a href="#" data-toggle="modal" data-target=".iq-register-from" data-whatever="@fat"><i class="fa fa-user"></i>Registrar</a></li>
                                </ul>
                            </li>
                            {% if user.id is None %}
                                <li class="list-inline-item"><a href="#"><i class="fa fa-user"></i>Olá Visitante</a></li>
                            {% else %}
                                <li class="list-inline-item"><a href="#"><i class="fa fa-user"></i>{{ user }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- menu start -->
    <nav id="menu-1" class="mega-menu">
        <!-- menu list items container -->
        <section class="menu-list-items">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- menu logo -->
                        <ul class="menu-logo">
                            <li>
                                <a href="#">
                                    <img id="logo_dark" src="{% static 'home/images/logo_ag.png' %}" alt="logo">
                                </a>
                            </li>
                        </ul>

                        <!-- menu links -->
                        {% with request.resolver_match.url_name as url_name %}
                            <ul class="menu-links">
                                <!-- active class -->
                                <li class="{% if url_name == 'home'%}active{% endif %}"><a href="{% url 'home:home' %}">Home</a></li>
                                <li><a href="javascript:void(0)">Sobre</a></li>
                                <li class="{% if url_name == 'projetos' or url_name == 'todos_servicos' or url_name == 'categoria_servico' or url_name == 'projetos_detalhe'%}active{% endif %}"><a href="javascript:void(0)">PORTFÓLIO</a>
                                    <!-- drop down multilevel  -->
                                    <ul class="drop-down-multilevel">
                                        <li class="{% if url_name == 'projetos' or url_name == 'projetos_detalhe' %}active{%endif %}"><a href="{% url 'home:projetos' %}">PROJETOS</a></li>
                                        <li  class="{% if url_name == 'todos_servicos' or url_name == 'categoria_servico'%}active{%endif %}"><a href="{% url 'home:todos_servicos' %}">SERVICOS</a></li>
                                        <li><a href="#">Produto 3</a></li>
                                    </ul>
                                </li>
                                <li class="{% if url_name == 'contato'%}active{% endif %}"><a href="{% url 'home:contato' %}">Contato</a></li>
                                <li><a href="http://agmarmoraria.ind.br/webmail">Web-Mail</a></li>
                            </ul>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </section>
    </nav>
</header>