<header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
{#                                    <img src="{{ logo.url }}" width="50" height="40"alt="">#}
                                    <p class="text-uppercase text-success">Pieta</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="index.html">home</a></li>
                                        <li><a href="about.html">Sobre</a></li>
                                        <li><a href="#">Portfolio</a>
                                            <ul class="submenu">
                                                    <li><a href="facilites.html">Serviços</a></li>
                                                    <li><a href="property.html">acabamento</a></li>
                                                    <li><a href="elements.html">elements</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="contact.html">Contato</a></li>
                                        <li><a href="contact.html">Web-Mail</a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                            <div class="social_wrap d-flex align-items-center justify-content-end">
                                <div class="login_text">
                                    <a href="#">Login</a>
                                </div>
                                <div class="number">
                                    <p>Contato:  <a href="#"> {{ telefone }}</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>