{% extends 'home/baseHome.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'home/css/agImagens.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block sobre %}
    <h2 class="small-title iq-tw-6">Excelência em <span class="nice-font"> Mármores e Granitos</span></h2>
    <p class="typo-style1">{{ sobre }}</p>
    <a href="{% url 'home:projetos' %}" class="button iq-mt-20">Projetos</a>
{% endblock sobre %}
{% block servicos %}

    {% for servico in servicos %}
        <div class="item">
            <div class="iq-blog-entry white-bg">
                <div class="iq-entry-image clearfix">
                    <img class="img-fluid " src="{{ servico.imagem.url }}" alt="#">
                    <span class="tag"><i class="ion-image"></i>{{ servico.categoria }}</span>
                    <span class="date">12<small>Aug</small></span>
                </div>
                <div class="iq-blog-detail">
                    <div class="iq-entry-title iq-mb-10">
                        <a href="#">
                            <h5 class="iq-tw-6">Blogpost With Image</h5>
                        </a>
                    </div>
                    <div class="iq-entry-content">
                        <p>Quae laboriosam sunt consectetur, assumenda provident lorem ipsum dolor sit amet, consectetur adipisicing elit. hic perspiciatis.</p>
                    </div>
                    {#                    <ul class="iq-entry-meta iq-mt-10">#}
                    {#                        <li><a href="#"><i class="fa fa-user"  aria-hidden="true"></i> Qwilo</a></li>#}
                    {#                        <li><a href="#"><i class="fa fa-heart"  aria-hidden="true"></i> 6 like</a></li>#}
                    {#                        <li><a href="#"><i class="fa fa-comments"  aria-hidden="true"></i> 9 comments</a></li>#}
                    {#                    </ul>#}
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}

{% block banner %}
    {% for banner in banners %}
        <li data-index="rs-{{ banner.id }}" data-transition="random-static,random-premium,random" data-slotamount="default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off" data-randomtransition="on" data-easein="default,default,default,default" data-easeout="default,default,default,default" data-masterspeed="default,default,default,default" data-thumb="{{ banner.imagem.url }}" data-rotate="0,0,0,0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="{{ banner.imagem.url }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

            <div class="tp-caption   tp-resizeme" id="slide-53-layer-2" data-x="right" data-hoffset="30" data-y="center" data-voffset="-20" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['right','right','right','right']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 62px; line-height: 72px; font-weight: 900; color: #ffffff; letter-spacing: 2px;font-family:Raleway;text-transform:uppercase;">{{ banner.nome }},

            </div>
            <!-- LAYER NR. 5 -->
            <div class="tp-caption   tp-resizeme" id="slide-53-layer-3" data-x="right" data-hoffset="30" data-y="center" data-voffset="93" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":2040,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['right','right','right','right']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 16px; line-height: 28px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">{{ banner.descricao }}

            </div>
            <!-- LAYER NR. 6 -->
            <a href="{% url 'home:categoria_servico' banner.Categoria.nome %}" class="tp-caption tp-resizeme button" id="slide-53-layer-4" data-x="right" data-hoffset="29" data-y="center" data-voffset="180" data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on" data-frames='[{"delay":2750,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":""}]' data-textAlign="['inherit','inherit','inherit','inherit']" style="z-index: 7; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Conhecer</a>
        </li>
    {% endfor %}
{% endblock banner %}


{% block projetosHome %}
    {% for projeto in projetos %}
        <div class="col-lg-4 col-md-12 col-sm-12 iq-mt-30">
            <div class="feature15-blog">
                <div class="feature15-image"> <img class="img-fluid" src="{{ projeto.imagem_de_capa.url }}" alt="#">
                    <div class="icon"><i class="ion-ios-lightbulb-outline iq-font-white"></i></div>
                </div>
                <div class="about-blog iq-mt-20">
                    <div class="iq-lead iq-font-grey iq-tw-6">{{ projeto.Categoria.nome }}</div>
                   <a href="{% url 'home:projetos_detalhe' projeto.slug %}"> <h5 class="iq-font-grey iq-tw-6"><span class="iq-font-green text-big">AG.</span> {{ projeto.nome }}</h5></a>
                    <p class="iq-mb-0">{{ projeto.descricao_curta }}</p>
                </div>
            </div>


        </div>
    {% endfor %}
{% endblock projetosHome %}