{% extends 'home/ProjetosBase.html'%}

{% block postagem %}
     <div class="main-content">
     <section class="white-bg overview-block-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 iq-mtb-15">
                        <img class="img-fluid" src="{{ object.imagem.url }}" alt="">
                    </div>
                    <div class="col-lg-6 iq-mtb-15">
                        <h2 class="small-title iq-tw-6">{{ object.nome }} </h2>
                        <p>{{ object.descricao_curta }}</p>
                        <p class="typo-style1">{{ object.descricao }}</p>
                        <a href="{% url 'home:contato' %}" class="button iq-mt-20">Orçamento</a>
                    </div>
                </div>
            </div>
        </section>

     </div>

    <div class="main-content popup-gallery">
    <section class="overview-block-ptb">
        <div class="container-fluid no-padding iq-hide">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="isotope gallery-tope iq-columns-2 full-grid no-padding">

                        {% for imagem in object.imagemservico_set.all %}

                        <div class="iq-grid-item">
                            <div class="iq-portfolio-03">
                                <a class="iq-portfolio-img" href="#">
                                    <img class="img-fluid" src="{{ imagem.imagem.url }}" alt="#">
                                </a>
                                <div class="iq-portfolio-content">

                                    <h5 class="title iq-font-white"><a href="#">{{ imagem.nome }}</a></h5>
{#                                    <span class="category iq-font-white"><a href="#">Web Design</a> | <a href="#">Graphic</a></span>#}
                                    <ul class="iq-portfolio-icon">
                                        <li><a href="portfolio-single-1.html"><i class="fa fa-link"></i></a></li>
                                        <li><a class="image-link popup-img" href="{{ imagem.imagem.url }}"><i class="fa fa-arrows-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
{% endblock %}
