{% extends 'home/ProjetosBase.html'%}

<div class="main-content">
 <section class="overview-block-ptb iq-hide">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 iq-best-box">
                        <h3 class="small-title iq-tw-6">We Are Best</h3>
                        <p> Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. Simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p> Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took.</p>
                        <a class="button" href="#" role="button">Read More</a>
                    </div>
                    <div class="col-lg-6 col-sm-12 iq-re-9-mt50">
                        <img class="img-fluid center-block" src="images/bg/03.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 iq-mt-40">
                        <div class="white-bg iq-pall-20 wow fadeInUp" data-wow-duration="1s">
                            <h1 class="iq-tw-6 iq-font-green">01.</h1>
                            <h5 class="iq-tw-6 iq-mt-10">Powerful Theme</h5>
                            <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.Simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 iq-mt-40">
                        <div class="grey-bg iq-pall-20 wow fadeInUp" data-wow-duration="1.3s">
                            <h1 class="iq-tw-6 iq-font-green">02.</h1>
                            <h5 class="iq-tw-6 iq-mt-10">Easy to Customize</h5>
                            <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.Simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 iq-mt-40">
                        <div class="white-bg iq-pall-20 wow fadeInUp" data-wow-duration="1.7s">
                            <h1 class="iq-tw-6 iq-font-green">03.</h1>
                            <h5 class="iq-tw-6 iq-mt-10">Clean Code</h5>
                            <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.Simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 iq-mt-40">
                        <div class="grey-bg iq-pall-20 wow fadeInUp" data-wow-duration="2s">
                            <h1 class="iq-tw-6 iq-font-green">04.</h1>
                            <h5 class="iq-tw-6 iq-mt-10">Creative Ideas</h5>
                            <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.Simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
 </div>