{% extends 'home/baseHome.html' %}
{% load static %}

{% block titulo %}
{% endblock %}
{% block slider_area %}
{% endblock slider_area %}

{% block nossos_servicos %}
{% endblock nossos_servicos %}
{% block testimonial_area %}
{% endblock testimonial_area %}

{% block about_area %}
{% endblock about_area %}

{% block certificados %}
{% endblock certificados %}

{% block porfolio %}
{% endblock porfolio %}
{% block quotation %}
{% endblock quotation %}
 {% block servicos_recentes %}
{% endblock %}